{% load static %}
<!doctype html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <title>sai  blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
</head>

<style>
a:visited {color:black;}
</style>

<body>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <ul class="uk-grid uk-grid-width-1-4">
            <hr>
            <li><div class="uk-grid-divider"> <a href="http://127.0.0.1:8000/admin/" >Kotomi 的博客</a></div></li>
            <li><div class="uk-grid-divider"><a href="http://127.0.0.1:8000/admin/">About Kotomi</a></div></li>
            <li><div class="uk-grid-divider"><a href="http://127.0.0.1:8000/admin/">Conntact me</a></div></li>
            <hr>
        </ul>
    </div>
</div>

<div class="uk-width-1-5@m">
    <div class="uk-card uk-card-default uk-card-large">
        <div class="uk-card-media-top">
            <img class="uk-align-left uk-margin-remove-adjacent" src="{% static 'image/kotomi_cute.jpg' %}" alt="Example image">
        </div>
        <div class="uk-card-title">
            <h3>小琴美</h3>
        </div>
        <div class="uk-card-body">
            <p>是有过几个不错对象,说起来并不寂寞孤单。</p>
            <p>可能我浪荡 让人家不安。</p>
            <p>角落那窗口,闻得到玫瑰花香。</p>
        </div>
        <div class="uk-card-footer">
            <p>Read more</p>
        </div>
    </div>
</div>



<div class="uk-animation-toggle uk-child-width-1-4@m">
        <div class="uk-card uk-card-default uk-card-body uk-animation-fade uk-animation-reverse">
            <p class="uk-text-center">Fade</p>
        </div>
</div>


<ul uk-accordion>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Item 1</a>
        <div class="uk-accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Item 2</a>
        <div class="uk-accordion-content">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Item 3</a>
        <div class="uk-accordion-content">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
        </div>
    </li>
</ul>

{% block content %}
{% endblock %}


<!--<img src="{% static 'image/test.jpg' %}" alt='test image'/>-->
</body>
</html>

