{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="uk-child-width-1-4@s" uk-grid>
<div class="uk-align-center uk-padding">
    <form method="post" action="{% url 'blog:post_success' %}" target="_blank">
        {% csrf_token %}
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">发布博客</legend>

            <div class="uk-margin">
                <input class="uk-input" type="text" name="new_title" placeholder="标题">
                <input class="uk-input"  type="text" name="new_label" placeholder="标签">
                <textarea class="uk-textarea" name="new_content" rows="8"></textarea>
                <input class="uk-button uk-button-default" type="submit" value="发表">
            </div>

        </fieldset>
    </form>
</div>
</div>
{% endblock %}
